body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff !important;
  color:#003A75 !important;
}

#page-root{
  border: none;
}

.slide-container{
  border: none;
}

.slide-content{
  background-color: #fff !important;
  color:#003A75 !important;
  border-width: 0px;
}

.place-content-center{
  background-color: #fff !important;
  color:#003A75 !important;
}

.place-content-center h1,.place-content-center h2{
  text-align: center;
  font-size: 60px;
}

.place-content-center p{
  text-align: center;
}

.place-content-center li{
  text-align: center;
}

.slidev-code{
  padding: 10px !important;
}